services:
  - type: web
    name: slotbot
    env: docker
    plan: free
    autoDeploy: true
    envVars:
      - key: DISCORD_TOKEN
        sync: false
      - key: PUBLIC_BASE_URL
        sync: false
